<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mask Type Detection</title>

    <link rel="icon" href="icon.png">
    <meta name="description" content="Kita bisa mendeteksi jenis masker kamu">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="card">
        <h1>Saya bisa deteksi masker kamu loh</h1>
        <label for="input-file">
            <input type='file' id="input-file"/>
            <div class="input-file-container">
                Pilih Foto
            </div>
        </label>

        <img id="img-preview" class="d-none" src="#" alt="your image">
        <div class="result d-none">
            Hmm.. menurut saya itu masker KAIN.
        </div>
        <div class="error d-none">
            Memprediksi gambar gagal
        </div>
        <button type="button">Deteksi Foto</button>
        <div class="loading-indicator d-none">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>